.cover__link{
    text-decoration-line: none;
    color: white;
    width: 100%;
    position: relative;
    z-index: 3;
}

.cover__link::after{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: RGBA(42, 44, 47, 0.3);
    z-index: 1;
}

.cover__link:hover::after{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: RGBA(42, 44, 47, 0.8);
    z-index: 1;
}
