.photo-grid{
    display: grid;
    width: 92.5%;
    grid-template-columns: repeat(4, 23.986%);
    gap: 16px;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 1279px){
    .photo-grid{
        width: 90.625%;
        grid-template-columns: repeat(3, 32.327%);
        gap: 14px;
    }
}

@media screen and (max-width: 1023px){
    .photo-grid{
        width: 93.75%;
        grid-template-columns: repeat(2, 48.8%);
        gap: 16px;
    }
}

@media screen and (max-width: 767px){
    .photo-grid{
    width: 90%;
    grid-template-columns: repeat(1, 100%);
    gap: 12px;
    }
}