.place__image{
    width: 46.7%;
    margin-right: 40px;
}

@media screen and (max-width: 1279px){
    .place__image{
        width: 47.4%;
        margin-right: 32px;
    }
}

@media screen and (max-width: 1023px){
    .place__image{
        width: 47.2%;
        margin-right: 28px;
        object-fit: contain;
        object-position: top;
    }
}

@media screen and (max-width: 767px){
    .place__image{
        width: 100%;
        margin-bottom: 32px;
    }
}