.cover__subtitle{
    width: 30.4%;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;;
    margin: 32px auto 0 auto;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1279px){
    .cover__subtitle{
        width: 35.1%;
    }
}

@media screen and (max-width: 1023px){
    .cover__subtitle{
        width: 46.8%;
    }
}

@media screen and (max-width: 767px){
    .cover__subtitle{
        width: 90%;
        font-size: 14px;
        line-height: 16px;
    }
}