.place__flex-container-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width: 767px){
    .place__flex-container-content{
        flex-direction: column;
    }
}