.intro{
    display: flex;
    flex-direction: column;
    width: 53.9%;
    margin-left: 11.56%;
}

@media screen and (max-width: 1279px){
    .intro{
        margin-left: 4.6875%;
        width: 67.3%;
    }
}

@media screen and (max-width: 1023px){
    .intro{
        margin-left: 24px;
        width: 93.75%;
    }
}

@media screen and (max-width: 767px){
    .intro{
        margin-left: 16px;
        width: 90%;
        
    }
}