.lead__subtitle{
    text-align: center;
    justify-content: center;
    margin: 32px auto 64px auto;
    width: 640px;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

@media screen and (max-width: 1279px){
    .lead__subtitle{
        margin: 32px auto 56px auto;
    }
}

@media screen and (max-width: 767px){
    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
        width: 288px;
        margin: 16px auto 40px auto;
    }
}